<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置测试用的 Bean -->
	<bean id="userDao" class="org.springframework.learn.context.UserDao"/>

	<!-- 配置服务类，并通过 setter 注入依赖 -->
	<bean id="userService" class="org.springframework.learn.context.UserService">
		<property name="userDao" ref="userDao"/>
	</bean>

</beans>
